**Curso: Métodos Numéricos II  
Professor: Creto Augusto Vidal  
Semestre: 2020.1  
Equipe: DANIEL MAGALHÃES NUNES, ANTONIO AUGUSTO DA SILVA HOLANDA  
Tarefa 17**

**Tarefa 17: PVI - Método de Runge-Kutta de terceira ordem**

In [10]:
import numpy as np
import pandas as pd

In [7]:
def runge_kutta(f, y0, t0, h):
    y = np.copy(y0)
    altura = [y[1, 0]]
    velocidade = [y[0, 0]]
    tempo = [t0]
    while y[1,0] > 0:
        f1 = f(y)
        s1_barra = y + f1*h/2
        f2 = f(s1_barra)
        s2_barra = y + h*(- f(y) + 2*f(s1_barra))
        f3 = f(s2_barra)
        y = y + h*(f1/6 + f2*4/6 + f3/6)
        t0 += h
        altura.append(y[1, 0])
        velocidade.append(y[0, 0])
        tempo.append(t0)
    
    altura_max = max(altura)
    tempo_altura_max = tempo[altura.index(altura_max)]
    tempo_mar = tempo[-1]
    velocidade_mar = velocidade[-1]
    return [altura_max, tempo_altura_max, tempo_mar, velocidade_mar]

In [8]:
def f(v):
    g = 10
    k = 0.25
    m = 2
    s1 = -g - k/m * v[0, 0]
    s2 = v[0, 0]
    return np.array([s1, s2]).reshape(2, 1)

In [9]:
s0 = np.array([5, 200]).reshape(2, 1)

In [13]:
h = [0.1, 0.01, 0.001, 0.0001]

In [14]:
altura_max = []
tempo_altura_max = []
tempo_mar = []
velocidade_mar = []
for hi in h:
    resultado = runge_kutta(f, s0, 0, hi)
    altura_max.append(resultado[0])
    tempo_altura_max.append(resultado[1])
    tempo_mar.append(resultado[2])
    velocidade_mar.append(resultado[3])

In [15]:
dados = {}
dados['Δt'] = h
dados['Altura Máxima'] = altura_max
dados['Instante na Altura Máxima'] = tempo_altura_max
dados['Tempo de queda no Mar'] = tempo_mar
dados['Velocidade de queda no Mar'] = velocidade_mar

In [16]:
df = pd.DataFrame(dados)

**Resultado**

In [17]:
df

,Δt,Altura Máxima,Instante na Altura Máxima,Tempo de queda no Mar,Velocidade de queda no Mar
0,0.1000,201.199121,0.500,7.8000,-47.938653
1,0.0100,201.200117,0.480,7.7900,-47.898548
2,0.0010,201.200242,0.485,7.7900,-47.898548
3,0.0001,201.200242,0.485,7.7898,-47.897746