**Curso: Métodos Numéricos II  
Professor: Creto Augusto Vidal  
Semestre: 2020.1  
Equipe: DANIEL MAGALHÃES NUNES, ANTONIO AUGUSTO DA SILVA HOLANDA  
Tarefa 16**

**Tarefa 16: PVI - Euler Explícito**

In [46]:
import numpy as np
import pandas as pd

In [3]:
def f2(v):
    g = 10
    k = 0.25
    m = 2
    s1 = -g - k/m * v[0, 0]
    s2 = v[0, 0]
    return np.array([s1, s2]).reshape(2, 1)

In [4]:
s0 = np.array([5, 200]).reshape(2, 1)

In [54]:
def euler(f, t0, y0, h):
    y = np.copy(y0)
    altura = [y[1, 0]]
    velocidade = [y[0, 0]]
    tempo = [t0]
    while y[1,0] > 0:
        y = y0 + h * f(y0)
        t0 += h
        y0 = y
        altura.append(y[1, 0])
        velocidade.append(y[0, 0])
        tempo.append(t0)
        
    altura_max = max(altura)
    tempo_altura_max = tempo[altura.index(altura_max)]
    tempo_mar = tempo[-1]
    velocidade_mar = velocidade[-1]
    return [altura_max, tempo_altura_max, tempo_mar, velocidade_mar]

In [55]:
h = [0.1, 0.01, 0.001, 0.0001]

In [64]:
altura_max = []
tempo_altura_max = []
tempo_mar = []
velocidade_mar = []
for hi in h:
    resultado = euler(f2, 0, s0, hi)
    altura_max.append(resultado[0])
    tempo_altura_max.append(resultado[1])
    tempo_mar.append(resultado[2])
    velocidade_mar.append(resultado[3])

In [65]:
dados = {}
dados['Δt'] = h
dados['Altura Máxima'] = altura_max
dados['Instante na Altura Máxima'] = tempo_altura_max
dados['Tempo de queda no Mar'] = tempo_mar
dados['Velocidade de queda no Mar'] = velocidade_mar

In [66]:
df = pd.DataFrame(dados)

**Resultado**

In [67]:
df

,Δt,Altura Máxima,Instante na Altura Máxima,Tempo de queda no Mar,Velocidade de queda no Mar
0,0.1000,201.450698,0.500,7.9000,-48.533375
1,0.0100,201.224622,0.490,7.8000,-47.958198
2,0.0010,201.202667,0.485,7.7910,-47.904514
3,0.0001,201.200485,0.485,7.7898,-47.897941